*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}
body {
   background-color: #1A0B2E;
}
header{
    padding: 30px;
}
.btn-primary{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 18px;
    border-radius:100px ; 
 }    

.btn-primary button{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}
.btn-primary:hover{
    background: transparent;
    border: 1px solid #fff;
}
.hamburger {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}
nav{
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
h1{
    color: #fff;
    font-size: 40px ;
}
h1 span{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 45px;
    align-items: center;
}
nav .menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none; 
}
@media (max-width: 576px) {
  nav {
    padding: 0 20px;
  }

  nav .menu,
  nav .btn-primary {
    display: none;
  }
.hamburger {
    display: block;
  }
}

.hero{
    background: url("assets/hero-bg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 20px 80px;
  text-align: center;
}
 .hero-circle{
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto ;
 }
 .badge-new{
    position: absolute;
    top: -2px;
    right: 20px;
    background: #00FF88;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
    z-index: 3; 
 }          
 .hero-circle img{
    width: auto;
 }
 .hero-circle .circle{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .hero-circle .microphone {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 120px;
     transform: translate(-50%, -50%);
     z-index: 2
 }

 h3{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 8px; 
 }
 p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0 auto 32px;
 }
 .hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
 }
 .btn-secondary{
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 20px;
    border-radius:100px ; 
    border: 1px solid #00FF88;
 }
 .btn-secondary button{
    background: transparent;
    border: none;
    color: #00FF88;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
 }
 .btn-secondary:hover{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    border: none;
 }
 @media (max-width: 576px) {
  .hero {
    padding: 100px 16px 80px;
  }

  .hero-circle {
    width: 220px;
    height: 220px;
  }

  .hero-circle .microphone {
    width: 100px;
  }

  .hero h3 {
    font-size: 36px;
  }

  .hero p {
    font-size: 14px;
  } 
}
.about{
    padding: 80px 20px 60px;
    text-align: center;
 }
 .about h3{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;

 }
 .about-text {
    max-width: 720px;
    margin: 0 auto 24px;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
    opacity: 0.8;
}
@media (max-width: 576px) {
  .about h3 {
    font-size: 32px;
  }

  .about-text {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 10px;
  }
}